table, tr, th, td
{
    border: 1px solid black;
}

section {
  display: block;
  background: rgb(172, 234, 250);
  margin: 0 auto 0 auto;
  height: relative;
  max-width: 600px;
  border-radius: .5em;
  color: white;
}

.hide {
  display: none;
}

.none {
  display:none;
}

.block-of-text  {
  position: relative;
  top: 50%;
  color: black;
}

.side  {
  float: left;
}

/* ----- Begin: Login CSS ---- */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ADABAB;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #004240;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color:#004643;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color:#004643;
}

h2{
  text-align: center;
  color: #017572;
}

h3{
  text-align: center;
  color: #004643;
}

button.buttonLogin {
  display:block;
  margin-left: 40px;
  margin-top: 15px;
  width: 70px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}

button.buttonSignUp {
  display:block;
  margin-left: 40px;
  margin-top: 15px;
  width: 70px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
/* ----- End: Login CSS ---*/
